.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    justify-content: center;
}

.search-bar input {
    border: 0.5 px solid black;
    height: 30px;
    width: 350px;
    border-radius: 3px;
    margin: 90px 0px 20px;
    background-color: none;
    color: rgb(0, 0, 0);
}

.search-bar input::placeholder {
    color: rgb(165, 165, 165);
}

.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right; 
    width: 100%;
    gap: 10px; 
    margin-top: 100px;
    margin-bottom: 50px;
    margin-right: 40px;
    flex-wrap: wrap; 
}

.search-bar input {
    border: none;
    height: 35px;
    width: 250px;
    border-radius: 5px;
    background-color:none;
    color: rgb(0, 0, 0);
    padding: 0 10px;
    margin: 0; 
    border: 1px solid black;
}

.category,
.sort {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;

}

select {
    width: 160px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 5px;
}