.pagination {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    padding: 20px;
    margin: 10px;
}

.pagination h3 {
    color: white;
}

.page-buttons button{
    background: none;
    color: black;
    font-size: 20px;
    width: 40px;
    height: 40px;
    margin: 2.5px;
    border: none;
    padding: 0;
    transition: all 0.2s ease-in-out;
}

.page-buttons button:not(:disabled):hover {
    background-color: black;
    color: white;
}

.page-buttons button:disabled {
    background-color: none;
}