.product-container {
    background-color: yellow;
    display: grid;
    grid-template-rows: 300px 1fr;
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
}

.product-image {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;        
    justify-content: center;    
    overflow: hidden;           
    background: #f9f9f9;
  
}
  
.product-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;        
}

.product-details {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #F5D2D2;
    padding: 10px;
    color: rgb(0, 0, 0);
}

.product-details p{
    margin: 0;
    padding: 0px 0px 10px;
}
.product-details h2 {
    margin: 0;
    padding: 0px 0px 10px;
}

.product-details button {
     width: 100%;
  padding: 8px 15px;
  border: 1px solid #333;
  background-color: white;
  color: #333;
  font-size: 11px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: Arial, sans-serif;
}

.product-details button:hover {
    background-color: #333;
  color: white;
}

.product-details button:active {
    background-color: #84994F;
    transform: translateY(0);
}