.modal-overlay {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex; 
  justify-content: center; 
  align-items: center;
  z-index: 1000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px; 
  width: 90%;
  max-height: 80vh; 
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: inherit; 
}

.close-btn {
  position: absolute;
  top: 10px; 
  right: 10px;
  border: none; 
  background: none;
  font-size: 24px; 
  cursor: pointer;
}


.modal-body {
  display: flex;
  gap: 30px;
  flex: 1; 
}


.modal-image img {
  width: 200px;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}


.modal-info {
  display: flex;
  flex-direction: column;
  height: 100%; 
  text-align: left;
  font-family: inherit; 
}


.modal-info .top-info {
  flex: 1; 
  overflow-y: auto; 
}

.modal-info h2,
.modal-info h4 {
  margin: 0;
  margin-bottom: 10px;
}


.modal-info .description {
  margin-top: 40px;
}

.modal-info .stock {
  font-weight: bold;
  margin-top: auto;
}
